.body1{
    margin: auto;
}
.m_div{
    margin: auto;
    width: 320px;
}
.head{
    margin: auto;
}
.box{
    height: 300px;
    width: 200px;
    border: 2px solid rgb(236, 136, 136);
    display: inline-block;
    margin: 10px 140px 140px 140px;
    text-align: center;
    border-radius: 15px;
    font-size: large;
    color:red;
    box-shadow: 12px 7px 7px  gray;
}
.box-1{
    height: 70px;
    width: 300px;
    border: 2px solid rgb(238, 197, 197);
    margin: 20px auto 20px auto;
    padding-left: 20px;
    border-radius: 15px;
    font-size: large;
    box-shadow: 12px 7px 7px  gray;
}
.tp{
    color: gray;

}
.checkbox{
    color: black;
}
h1,h2{
    display: inline-block;
}
h3{
    display: inline-block;
}
.add{
    text-align: center;
    padding-top: 250px;
    padding-left: 600px;
}
.add1{
    height: 140px;
    width: 260px;
    border: 2px solid rgb(236, 136, 136);
    border-radius: 10px;
    color: red;
    box-shadow: 12px 7px 7px  gray;
}
button{
    background-color: red;
    border-radius: 12px;
    padding: 3px 10px 3px 10px;
    color: wheat;
}
a{
    text-decoration: none;
    color: red;
}
.index3{
    text-align: center;
}
.add_list{
    margin-left: 40px;
}
.c_gray{
    color: gray;
    display: inline;
    font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.cross{
    text-decoration: line-through;
}
.horizon{
    text-align: right;
    width: 150px;
}
.plus{
    margin-top: 100px;
    margin-left: 150px;
}
.top{
    width: 150px;
    display: inline-block;
}
.list{
    display: inline;
}